.nav-link {
  //font-size: 0.9rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-weight: 500;
  color: #333;
}

.nav-link.active {
  color: #007bff;
}

.nav-link:not(.active):hover {
  color: gray;
}

.up-btn {
  position: absolute;
  bottom: 60px;
  left: 50%;
  width: 40px;
  height: 40px;
  padding: 0;

  transition: opacity 0.5s;
  opacity: 0;

  &--show {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  &__icon {
    display: inline-block;
    margin-top: 2px;
    font-size: 28px;
  }

}
