

.nav-link {
  //font-size: 0.9rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-weight: 500;
  color: #333;
}

.nav-link.active {
  color: #007bff;
}

.nav-link:not(.active):hover {
  color: gray;
}
