<div class="card mb-3" [ngClass]="{'post-repost': isRepost}">
  <div class="card-header d-flex" (click)="onLog(post)">
    <img class="rounded-circle" style="width:50px; height: 50px;" src="{{getAuthorPhoto()}}">
    <div class="d-inline-block ml-4">
      <h6 class="my-1">{{getAuthorName()}}</h6>
      <p class="text-muted m-0">{{post.date | pgDate:'WallPost'}}</p>
    </div>
  </div>

  <div *ngIf="hasBodyContent()" class="card-body">
    <p *ngIf="post.text" class="card-text">{{post.text}}</p>

    <pg-post
      *ngIf="post.originalPost"
      [post]="post.originalPost"
      [isRepost]="true"
      [relatedUsers]="relatedUsers"
      [relatedGroups]="relatedGroups"
    ></pg-post>

    <pg-post-attachment-link
      *ngIf="post.attachment?.type === 'link'"
      [attachmentLink]="post.attachment"
    ></pg-post-attachment-link>
  </div>

  <pg-post-attachment-photo
    *ngIf="post?.attachment?.type === 'photo'"
    [attachmentPhoto]="post?.attachment"
  ></pg-post-attachment-photo>

  <div *ngIf="!isRepost" class="card-footer">Лайков: {{post.likesCount}}</div>
</div>
