.post-repost {
  border-color: #DEE6EE;
  border-left-width: 4px;

  margin-left: -10px;
  margin-right: -10px;

  .post__header {
    background-color: #fafcff;
  }
}

.post-body-photo {
  padding: 0;
}

.post {

  &__author-img {
    width: 50px;
    height: 50px;
    outline: none;
    &--link {
      cursor: pointer;
      &:hover {
        box-shadow: 0 0 1px 1px #818181;
      }
    }
  }

  &__author-name {
    outline: none;
    &--link {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
  }

  &__footer-row {
    flex-basis: 80px;

    &--right {
      text-align: right;
      flex-grow: 1;
    }
  }
}
