<div class="card mb-3 post" [ngClass]="{'post-repost': isRepost}">
  <div class="card-header d-flex post__header" (click)="onLog(post)">
    <img class="rounded-circle" style="width:50px; height: 50px;" src="{{getAuthorPhoto()}}">
    <div class="d-inline-block ml-4">
      <h6 class="my-1">{{getAuthorName()}}</h6>
      <p class="text-muted m-0">{{post.date | pgDate:'WallPost'}}</p>
    </div>
  </div>
  <div class="card-body post__body" [ngClass]="{'post-body-photo': isPhotoOnly()}">

    <p *ngIf="post.text"
       class="card-text"
    >{{post.text}}</p>

    <pg-post
      *ngIf="post.repostHistory"
      [repostHistory]="post.repostHistory"
      [relatedUsers]="relatedUsers"
      [relatedGroups]="relatedGroups"
    ></pg-post>

    <pg-post-attachment-link
      *ngIf="hasAttachmentLink()"
      [attachmentLinks]="getAttachmentLinks()"
    ></pg-post-attachment-link>

    <pg-post-attachment-photo
      *ngIf="hasAttachmentPhoto()"
      [attachmentPhotos]="getAttachmentPhotos()"
    ></pg-post-attachment-photo>

  </div>
  <div *ngIf="!isRepost" class="card-footer post__footer">
    <div class="post__footer-row">
      <span class="oi oi-heart pr-2"></span>{{post.likesCount}}
    </div>
    <div class="post__footer-row">
      <span class="oi oi-comment-square pr-2"></span>{{post.commentsCount}}
    </div>
    <div class="post__footer-row">
      <span class="oi oi-bullhorn pr-2"></span>{{post.repostsCount}}
    </div>
    <div *ngIf="post.viewsCount" class="post__footer-row post__footer-row--right">
      {{post.viewsCount}}<span class="oi oi-eye pl-2"></span>
    </div>
  </div>
</div>
