<div class="user border mb-3" [@fadeInOut]>
  <div class="user__main">
    <div class="user__avatar avatar">
      <img *ngIf="user" class="avatar__img"
           src="{{user.photoUrl400 ? user.photoUrl400 :
                  user.photoUrl400orig ? user.photoUrl400orig :
                  user.photoUrl200 ? user.photoUrl200 :
                  user.photoUrl200orig}}"
      >
      <pg-loader-rect *ngIf="!user && !errorMsg"></pg-loader-rect>
    </div>
    <div *ngIf="user" class="user__info info">
      <h2 class="info__header">{{user.firstName}} {{user.lastName}}</h2>
      <hr class="info__separate">
      <div class="info__props props">
        <div class="props__names">
          <p class="props__item-name">User id:</p>
          <p class="props__item-name">Ссылка:</p>
          <p class="props__item-name">Страна:</p>
          <p class="props__item-name">Город:</p>
          <p class="props__item-name">Возраст:</p>
        </div>
        <div class="props__values">
          <p class="props__item-value">{{user.id}}</p>
          <p class="props__item-value">{{user.domain}}</p>
          <p class="props__item-value">{{user.country ? user.country : '?'}}</p>
          <p class="props__item-value">{{user.city ? user.city : '?'}}</p>
          <p class="props__item-value">{{user.birthDay ? (user.birthDay | pgDate:'Age') : '?'}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="user__counters counters border-top">
    <div *ngIf="errorMsg" class="user__error">
      <p class="user__error-msg lead text-muted">{{errorMsg}}</p>
    </div>
    <div *ngIf="user && !errorMsg" class="counters__container">
      <div class="counters__item">
        <p class="counters__item-name">друзей</p>
        <p class="counters__item-value">{{user.countFriends ? user.countFriends : '?'}}</p>
      </div>
      <div class="counters__item">
        <p class="counters__item-name">подписчиков</p>
        <p class="counters__item-value">{{user.countFollowers ? user.countFollowers : '?'}}</p>
      </div>
      <div class="counters__item">
        <p class="counters__item-name">групп</p>
        <p class="counters__item-value">{{user.countGroups ? user.countGroups : '?'}}</p>
      </div>
      <div class="counters__item">
        <p class="counters__item-name">фото</p>
        <p class="counters__item-value">{{user.countPhotos ? user.countPhotos : '?'}}</p>
      </div>
    </div>
  </div>
</div>
