<div class="card flex-row mb-2 user" [@fadeInOut]>
  <div class="user__avatar avatar" [routerLink]="['/', user.id]">
    <img class="avatar__img" src="{{user.photoUrl100}}">
  </div>
  <div class="card-body user__body py-2">
    <a class="user__name h5 mb-1 d-inline-block"
       [routerLink]="['/', user.id]">
      {{user.firstName}} {{user.lastName}}
    </a>
    <p class="mb-1"><span class="text-muted">Страна: </span>
      {{user.country ? user.country : '?'}}
    </p>
    <p class="mb-1"><span class="text-muted">Город: </span>
      {{user.city ? user.city : '?'}}
    </p>
  </div>
</div>
