<div *ngIf="!isLoaded">
  <!-- TODO: Loading component -->
  <p>Загрузка...</p>
</div>

<div *ngIf="isLoaded && !hasLoadError">

  <div class="card flex-row user mb-3">
    <img class="user__avatar" src="{{user.photoUrl200}}">
    <div class="card-body">
      <h2 class="h4">{{user.firstName}} {{user.lastName}}</h2>
      <hr>
      <p><span class="text-muted">Id: </span>{{user.id}}</p>
      <p><span class="text-muted">Nickname: </span>{{user.nickname ? user.nickname : 'нет'}}</p>
      <p><span class="text-muted">Друзей: </span>{{user.countFriends ? user.countFriends : 'неизвесно'}}</p>
    </div>
  </div>

</div>

<div *ngIf="isLoaded && hasLoadError">
  <div class="btn btn-info" (click)="onRefresh()">Попробовать еще раз.</div>
</div>


<!-- TODO: exact:false && exact:true 'Страница пользователя' -->
